.MyContent {
  padding: 100px 200px 50px 200px;

}

.search-box {
  padding-bottom: 30px;
}

.result, .result:focus , .result:hover {
  text-decoration: none !important;
  color : #474747 !important
}

#wiki_logo {
  margin-bottom: 0px;
}
